*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 

body{
    background-color: #0a0a23;
}

img{
    filter: invert(100%);
    max-width: 20vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    text-align: center;
    background-color: #0a0a23;
    width: 50vw;
    height: 70vh;
    max-width: 500px;
    min-width: 300px;
}

.title{
    margin: 3vh 0;
    border-radius: 15px;
    padding: 20px;
    color: aliceblue;
}

.title h1{
    font-size: 3.25rem;
}

.content{
    background-color:white;
    margin: 3vh 0;
    border-radius: 15px;
    box-shadow: 0 9px 0 0 rgba(134, 70, 204, 0.5);
}

.content, p{
    font-size:large;
    padding: 10px 5px 25px 10px;

}

#text-input{
    border:none;
    border-bottom: 2px solid purple;
    padding: 0.5em;

}

#btn{
    padding: 5px 15px 5px 15px;
    margin-left: 4px;
    color: white;
    background-color: purple;
    border-radius: 10px;
    border: 2px solid purple;
    cursor: pointer;
}

.footer-content{
    background-color:rgb(4, 108, 4);
    margin: 3vh 0;
    border-radius: 15px;
    font-size: x-large;
    color: white;
    min-height: 15vh;
    word-spacing: 10px;
}
